[2017-02-06 12:33] Daniel-Mietchen opened #2 "Set up issue and contributor templates"
As described in
https://help.github.com/articles/setting-guidelines-for-repository-contributors/
and
https://github.com/blog/2111-issue-and-pull-request-templates

[2017-02-06 12:35] Daniel-Mietchen opened #3 "Think about illustrations"
In useful amounts and with a clear link to the hackathon theme, illustrations, sonifications and similar can help to engage with the relevant communities.

[2017-02-06 12:37] Daniel-Mietchen opened #4 "Reach out to relevant communities about the event"
e.g. open science mailing list, openscience and opendata hashtags and similar.
Use the [#odd4r](https://twitter.com/hashtag/odd4r?f=tweets) hashtag by default.

[2017-02-06 13:50] JosephMcArthur commented on #3
on it!

[2017-02-06 13:55] wetneb opened #5 "OpenRefine+Wikidata quick demo"
I have been working on a tool that sounds quite relevant for the event:

https://tools.wmflabs.org/openrefine-wikidata/

It helps align datasets to Wikidata in OpenRefine, a super cool software to deal with messy data. If you  are still looking for lightning talks during the event, I would be happy to give a quick demo of the tool. I'd love it if we could then play with the tool on some research d

[2017-02-10 23:14] Daniel-Mietchen commented on #5
Yes, your reconciliation tool looks great and would be a good thing to demo, play with and hack on. We haven't fully figured out how to organize the lightning talks, other than the generic slot for them in the program. We'll update that as things become more concrete.

[2017-02-11 03:10] Daniel-Mietchen commented on #5
I just gave this a try.

I downloaded the results of [this SPARQL query](https://query.wikidata.org/#%23Find%20common%20strings%20for%20authors%20of%20scientific%20articles%0ASELECT%20%2a%20WHERE%20%7B%0A%20%20%7B%0A%20%20%20%20SELECT%20%3Fauthorstring%20%28COUNT%28%3Fpaper%29%20AS%20%3Fcount%29%20WHERE%20%7B%20%7B%20%3Fpaper%20wdt%3AP2093%20%3Fauthorstring%20.%20%7D%7D%0A%20%20%20%20GROUP%20BY%20

[2017-02-11 10:09] wetneb commented on #5
@Daniel-Mietchen Thanks for giving it a spin! But your links to OpenRefine refer to your local instance of the tool, that we cannot access. Screenshots?

Concerning your mapping, I have some ideas to make this work if the mapping is stored on Wikidata (as journal to topic statements). I'll add the relevant endpoint and make screenshots to explain how to use it.

[2017-02-13 11:55] Daniel-Mietchen commented on #5
This was my first try with Open Refine, so I'm still trying to find my way around. Is there no way to make my OpenRefine projects open, perhaps even by default? Would be nice to have them synced with Zenodo or so for every "release".

In this specific case, though, I don't think it matters too much (and screenshots wouldn't make much of a difference), since I simply took the outputs of both SPARQL

[2017-02-13 12:07] JosephMcArthur opened #6 "Find step by step resources for authors that help them make their data open"

[2017-02-13 12:07] JosephMcArthur opened #7 "Get feedback from authors on the Open Access Button request system"

[2017-02-13 12:08] JosephMcArthur opened #8 "Do testing on users for the Open Access Button request system"

[2017-02-13 12:08] JosephMcArthur opened #9 "Think about how to document the Open Access Button Research Data request system API"

[2017-02-13 12:13] Daniel-Mietchen opened #10 "Add useful labels"
https://github.com/sparcopen/open-research-doathon/labels

* meta
* idea
* lightning talks

[2017-02-13 12:20] JosephMcArthur opened #11 "Need a help mechanism that works for folks in the room & virtually!"

[2017-02-13 12:28] Daniel-Mietchen opened #12 "Link up with other Open Data Day activities"
As per http://opendataday.org/
and also things like http://brainhack.org/brainhack-global-2017/ .

[2017-02-13 13:10] Daniel-Mietchen opened #13 "Make plan for how to organize the lightning talks"
probably need to distinguish between on-site and virtual

[2017-02-13 13:19] Daniel-Mietchen commented on #10
I think we now have a useful set to get things going. Can always revisit later.

[2017-02-13 13:19] #10 closed, assigned to nobody

[2017-02-13 13:21] Daniel-Mietchen opened #14 "Make plan for how to refine the ideas into something doable at the event"
probably need to distinguish between on-site and virtual

[2017-02-13 13:40] Daniel-Mietchen commented on #5
Re lightning talks, we now have #13 to get them organized.

[2017-02-13 13:57] Daniel-Mietchen commented on #10
For reference, here are the labels used for the most recent Mozilla Global Sprint: https://github.com/mozillascience/global-sprint-2016/labels .

[2017-02-13 16:42] Daniel-Mietchen opened #15 "Provide mechanism to match contributor interests with project needs"
Some attendees might come with ideas about what they'd like to do (e.g. something like "work on UX"), explore (e.g. "statistical irregularities in the reporting of clinical trials") or learn (e.g. "[D3](https://d3js.org/)").

Projects, on the other hand, typically have relatively specific needs where there is room for different ways to go about addressing them. They might also have room for expand

[2017-02-13 17:15] Daniel-Mietchen commented on #11
Joe had mentioned
https://github.com/ehzhang/HELPq
as potentially useful here.

[2017-02-13 18:33] Daniel-Mietchen opened #16 "Come up with strategy for follow-up"
Follow-up in terms of
- projects that were worked on at this event
- people who attended the event
- other events where some of the work from this event could be continued
- potential contributions to Open Data Day 2018

[2017-02-14 00:38] Daniel-Mietchen opened #17 "Add code of conduct"
As per https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/

[2017-02-18 12:27] Daniel-Mietchen commented on #2
A reasonable issue template now sits at
https://github.com/sparcopen/open-research-doathon/blob/master/ISSUE_TEMPLATE.md .

Lots of contributor templates to be found at
https://github.com/search?utf8=%E2%9C%93&q=CONTRIBUTING.md ,
some really good like
https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md
and some under CC0 like
https://github.com/jsdnxx/CONTRIBUTING.md . I'm sti

[2017-02-18 12:39] Daniel-Mietchen opened #18 "Document suitably themed ideas posted elsewhere"
Many research-related projects have public issue trackers. Some even use more explicit mechanisms to invite contributions, e.g. the [Need Contributor](https://github.com/scikit-learn/scikit-learn/labels/Need%20Contributor) and [Sprint](https://github.com/scikit-learn/scikit-learn/labels/Sprint) labels over at https://github.com/scikit-learn/scikit-learn .

It would be useful for this doathon and s

[2017-02-20 12:04] JosephMcArthur commented on #2
Looks great!

[2017-02-20 12:17] JosephMcArthur opened #19 "Designing introduction for the event"
[//]: # "=======================
Guidelines for contributing:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text
(2) Add the appropriate label (e.g. 'idea' or 'lightning talk', or both for idea pitches) to your post - use 'help wanted' as needed
(3) Don't worry about these introductory lines - you can leave or delete them, a

[2017-02-20 12:18] Daniel-Mietchen commented on #12
I asked the open data day list for coordination around topics, e.g. research: https://groups.google.com/forum/#!topic/open-data-day/ukgb74zaGcw .

I also tweeted an invite for such interactions: https://twitter.com/EvoMRI/status/833645164824506369 .

We should probably think of doing more like that.

[2017-02-20 12:19] JosephMcArthur commented on #17
I suggest the opencon code of conduct: www.opencon2016.org/code_of_conduct. Only as I know it well and can enforce it.

[2017-02-20 12:19] JosephMcArthur commented on #15
Post its? We could have a quick session where folks in the room stick up all their skills on a board maybe?

[2017-02-20 12:21] JosephMcArthur opened #20 "Nail down food / drink provision for both days"
[//]: # "=======================
Guidelines for contributing:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text
(2) Add the appropriate label (e.g. 'idea' or 'lightning talk', or both for idea pitches) to your post - use 'help wanted' as needed
(3) Don't worry about these introductory lines - you can leave or delete them, a

[2017-02-20 12:23] JosephMcArthur commented on #11
We could have a hangout running constantly & have them answer key Q's. We could set up a slack type channel for the weekend too perhaps?

[2017-02-20 12:43] Daniel-Mietchen commented on #15
I think there should be some pre-filtering &mdash; "all their skills" is just too much.
Also, why not use GitHub issues instead of post-its?

Perhaps we should be looking into something like
- experience
  - hackathon experience
    - if yes, then provide a sentence about it
    - if no, then express your expectations
  - open data activities
  - open source experience
- main skills
  - programmin

[2017-02-20 12:50] Daniel-Mietchen commented on #19
In terms of the who/ why/ what, I think we can use
- https://github.com/sparcopen/open-research-doathon/labels/skills
- https://github.com/sparcopen/open-research-doathon/labels/interests
- https://github.com/sparcopen/open-research-doathon/labels/experience .

If that's fine with you, I can add it to the issue template.

[2017-02-20 13:43] Daniel-Mietchen commented on #11
I think it's simpler to have someone in the room who actively monitors and posts to
[#odd4r](https://twitter.com/search?vertical=default&q=odd4r), ideally with links to replies to any questions that pop up.

[2017-02-20 13:45] Daniel-Mietchen commented on #17
That's good but a bit long and also CC BY.

[2017-02-20 13:57] Daniel-Mietchen opened #21 "Supply a list of resources to test out reproducible computational tools"
[//]: # "=======================
Guidelines for contributing:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text
(2) Add the appropriate label (e.g. 'idea' or 'lightning talk', or both for idea pitches) to your post - use 'help wanted' as needed
(3) Don't worry about these introductory lines - you can leave or delete them, a

[2017-02-20 15:52] Daniel-Mietchen commented on #2
A basic version of the contributor template is now up at
https://github.com/sparcopen/open-research-doathon/blob/master/CONTRIBUTING.md .

Closing.

[2017-02-20 15:52] #2 closed, assigned to nobody

[2017-02-20 15:53] Daniel-Mietchen commented on #17
A basic version of a code of conduct is now available via
https://github.com/sparcopen/open-research-doathon/blob/master/CONTRIBUTING.md#conduct .

[2017-02-20 16:13] Daniel-Mietchen commented on #3
@JosephMcArthur Can you upload your files somewhere, e.g. Wikimedia Commons?

[2017-02-20 16:16] Daniel-Mietchen opened #23 "Have participants indicate whether they give permission to be photographed"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry about these introdu

[2017-02-20 16:22] Daniel-Mietchen opened #24 "Name tags"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry about these introdu

[2017-02-20 16:25] Daniel-Mietchen commented on #15
For on-site participants, there could also be a way to use the name tags (#24) for this purpose.

[2017-02-20 16:26] Daniel-Mietchen commented on #20
This should be mentioned in the introduction (#19).

[2017-02-26 02:45] Daniel-Mietchen commented on #3
Here are some other images that may be of use (should all be CC0/PD):
- https://commons.wikimedia.org/wiki/File%3ASandbox_with_interactive_projection_at_31c3.jpg
- https://commons.wikimedia.org/wiki/File%3AThe-global-distribution-of-the-arbovirus-vectors-Aedes-aegypti-and-Ae.-albopictus-elife08347fs004.jpg
- https://commons.wikimedia.org/wiki/File%3AComposition_ruins_Pompeii.jpg
- https://commons.

[2017-02-26 03:19] Daniel-Mietchen opened #25 "Analyze all Jupyter notebooks mentioned in PubMed Central"
[Jupyter notebooks](http://jupyter.org/) are a popular vehicle these days to share data science workflows. To get an idea of best practices in this regard, it would be good to analyze a good number of them in terms of their reproducibility and other aspects of usability (e.g. documentation, ease of reuse).

A search in PubMed Central (PMC) reveals the following results:

- [ipynb OR jupyter ](http

[2017-02-26 05:08] Daniel-Mietchen commented on #18
Another source of ideas is https://github.com/mozillascience/global-sprint-2016/issues .

[2017-02-26 05:12] #17 closed, assigned to nobody

[2017-02-27 12:51] npscience commented on #21
I'm developing that list today. What's the best format to provide it as?

[2017-02-27 12:54] npscience commented on #12
Max Ogden and Danielle Robinson are also running an event: Data Rescue Portland https://www.eventbrite.com/e/open-data-day-portland-tickets-31370043645
It's about adding good metadata to make research data more findable. Seems relevant to add to the .readme, and we could suggest people contribute virtually?

[2017-02-27 13:06] npscience opened #26 "Map out the workflow from data collection to interactive and reproducible data publication"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry about these introdu

[2017-02-27 13:11] npscience commented on #4
I've emailed c. 170 ECRs with London, Oxford or Cambridge email addresses in the eLife system; to date, 8 have clicked through to the Eventbrite page.

As discussed with Joe, on my list to email today are:
[x] Academy of Medical Sciences
[x] Society for Experimental Biology - Sarah Blackford
[x] OpenConCam (includes Cambridge Open Data team)
[x] GRASP, the Cambridge PhD and postdoc society

Update

[2017-02-27 21:30] Daniel-Mietchen commented on #26
Thanks &mdash; I've added the lightning talks tag. Since this does go deeper and has potential for becoming the focus of a team at the event, I also added the idea tag.

[2017-02-27 21:38] Daniel-Mietchen commented on #21
perhaps a markdown file that we can put into this repo.

[2017-02-28 15:59] Daniel-Mietchen commented on #12
Thanks - added: https://github.com/sparcopen/open-research-doathon/commit/efe7bec9abf3a90d32f40d28eba20b283d72a6b1 .

[2017-02-28 16:03] Daniel-Mietchen commented on #4
Great - thanks!

[2017-02-28 18:46] JosephMcArthur commented on #20
Okay, hot drinks can be provided by Nwspk, and be self serve. I can pick up a wide variety of other cold drinks the day before. They can be stored in the fridge at the event.

For food, I'd suggest easy to eat food for lunch. I can pick up a variety of bagels nearby easily, and add some fruit / snacks etc to add variety. Where folks have super specific needs (I'll cater for the obvious) we can han

[2017-02-28 18:47] JosephMcArthur commented on #20
Closing for now, but, if you have feedback let me know.

[2017-02-28 18:47] #20 closed, assigned to JosephMcArthur

[2017-02-28 19:12] JosephMcArthur commented on #3
Looks like there are lots of great images we can use here! Closing to keep things tidy but please reopen if desired.

[2017-02-28 19:12] #3 closed, assigned to nobody

[2017-02-28 19:13] JosephMcArthur commented on #19
Need to:
* do housekeeping (toilets, fire exits, wifi)
* flag any issues with food provided
* see if folks don't want to be photographed

[2017-02-28 19:32] JosephMcArthur commented on #24
So, we can certainly have actual name tags! As a start ;)

[2017-02-28 21:41] barney-walker commented on #4
I've managed to get an email sent around the Physics and Bioengineering departments at Imperial College London.  I've also posted on the Science Disrupt Slack and got a mention in their Weekly Memo.

EDIT: also sent an email around the Open Research London mailing list.

[2017-03-01 17:54] npscience commented on #21
FYI - just updated that .md file, it's ready to commit now. I'll be OOO until the weekend, but will be responsive if you need anything else.

[2017-03-01 17:56] npscience commented on #16
What about resources for people to take projects forward?

e.g. https://aws.amazon.com/grants/ is a quarterly grant scheme that gives credits to people that want to use cloud services, including for educating researchers in open data type cloud tools.

[2017-03-01 18:04] npscience commented on #6
From Max Ogden and Danielle Robinson: step 1 is metadata, step 2 is archiving. No point in step 2 without step 1. They may write up this reasoning.

[2017-03-01 18:26] npscience opened #28 "Virtual contributions to Data Refuge [Open Data Day Portland] & understanding importance of metadata for Open Data"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry about these introdu

[2017-03-01 18:35] npscience commented on #11
At a recent hackathon (200 people, 10-20 mentors):
+ HelpQ was fine except you had to constantly be watching the queue, and it is set up for a mentor-participant type arrangement.
+ Slack worked best: posting in specific channels, and calling certain people for help
+ what about an IRC? like gitter? freenode?
+ I guess for openness, twitter might be best? Can we draw up an easy list of twitter han

[2017-03-01 22:39] Daniel-Mietchen commented on #21
Please do commit it - we can't see it here yet.

[2017-03-01 23:50] Daniel-Mietchen commented on #21
Ah, OK, just saw (and merged) the pull request.

Closing.

[2017-03-01 23:50] #21 closed, assigned to nobody

[2017-03-03 08:20] Daniel-Mietchen opened #29 "Provide WiFi access to on-site participants"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry about these introdu

[2017-03-03 08:30] JosephMcArthur commented on #29
All over it!

[2017-03-03 08:30] #29 closed, assigned to JosephMcArthur

[2017-03-03 10:44] rossmounce commented on #25
A few notes...

With EuropePMC a search for ipynb OR jupyter gives 107 results:
http://europepmc.org/search?query=jupyter%20OR%20ipynb

I find it extremely interesting to note that EuropePMC has the full text for 102 of these 107 articles/preprints

(jupyter OR ipynb) AND (HAS_FT:Y)

Which demonstrates that jupyter/IPython notebooks are almost exclusively associated with open-friendly journals(?)

[2017-03-03 12:54] andrea-f opened #30 "Create a tool to measure which newspaper uses the most words from newspeak in their online articles."
[//]: # "=======================
Instructions for posting issues:
(1) Write your post below using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry about these introdu

[2017-03-03 13:57] rossmounce commented on #25
Rcode to get bibliographic metadata on each of those 107 hits from EuropePMC:

[code]

I've also made available the resulting CSV as an editable spreadsheet via GDocs:
https://docs.google.com/spreadsheets/d/1txg0u9zARHrLkY4MYuz5vmsVCZUOItgybEHqx13Bkbc/edit?usp=sharing

Perhaps with this sheet we can assign who takes responsibility for which papers?

[2017-03-03 14:02] petermr opened #31 "Linking the Open literature to Wikidata"
Wikidata (https://www.wikidata.org/wiki/Wikidata:Main_Page ) is the largest collection of open public metadata in the world. It has a good biomedical emphasis with entries for genes, diseases, drugs, species, organizations, software etc. It is becoming the primary resource for indexing and describing scientific data, especially where it is standardized under authorities (e.g. Genbank, ICD-10).

Th

[2017-03-03 14:08] petermr commented on #31
How do we add labels?
Happy to give a lightning talk if people want.

[2017-03-03 14:35] Daniel-Mietchen commented on #31
I've added the labels.

[2017-03-03 14:38] Daniel-Mietchen commented on #30
Some background on Newspeak vocabulary: https://en.wikipedia.org/wiki/List_of_Newspeak_words .

[2017-03-03 14:41] Daniel-Mietchen commented on #25
That's a great starting point &mdash; thanks!

[2017-03-03 14:41] andrea-f commented on #30
Thanks Daniel, noted ;)

[2017-03-03 15:02] Daniel-Mietchen opened #32 "Create a catalogue of what's wrong with the current research system"
Lots of problems with the research system are being discussed in different places, and progress in identifying or addressing them is hard to monitor.

To address that, it would be useful to have a mechanism to keep track of individual issues. I'd like to prototype such a mechanism and have set up a "[bug reports to science](https://github.com/br2s/bug-reports-to-science/)" repo for that purpose, w

[2017-03-03 18:24] barney-walker opened #33 "Zotero plugin for Literature Discovery using Open Citation Data"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-03 20:16] JosephMcArthur commented on #19
* please do on twitter / github
* fine to move groups
* documentation 30 seconds
* theme around "do-a-thon"
* intro groups to : https://docs.google.com/document/d/1gTdPPr0ZMCKv5X-_XL9au6buwV6Fz194djjw3YXSFvs/edit#

[2017-03-03 20:42] JosephMcArthur commented on #19
* mention that there are going to be pitches. Put them on github
* hand raising (out of 28 people in the room)
  * what's your background ( 6 research | 2 librarian | 6 student | 9 advocate | 5 public / wildcard )
  * how many of you are experienced around research data? 11
  * how many of you have not been to a hack / do-a-thon before? 7
  * how many of you come from outside of london? 10
  * how

[2017-03-03 20:48] JosephMcArthur commented on #19
* ask folks about dietary needs & talk about food

[2017-03-03 20:49] JosephMcArthur commented on #11
* using hangouts during idea pitches / lightening talks
* I'll monitor odd4r

[2017-03-03 20:51] JosephMcArthur commented on #24
going to do intro's via the gdoc & tweet

[2017-03-03 20:51] #24 closed, assigned to nobody

[2017-03-03 20:51] #23 closed, assigned to nobody

[2017-03-03 20:52] #4 closed, assigned to nobody

[2017-03-03 20:52] #12 closed, assigned to nobody

[2017-03-03 20:53] JosephMcArthur commented on #18
Have these made it into the readme?

[2017-03-03 20:55] #14 closed, assigned to nobody

[2017-03-04 01:35] Daniel-Mietchen opened #34 "Sonify ongoing research"
There are a number of sonifications of "recent activity" streams, e.g.
- [Bitcoin transactions](http://www.bitlisten.com/) ([code](https://github.com/MaxLaumeister/bitlisten))
- [Wikipedia edits](http://listen.hatnote.com/#en,fa,ar,sa,es,de,ru,jp,zh,ko) ([code](https://github.com/hatnote/listen-to-wikipedia))
- [GitHub Audio](https://github.audio/) ([code](https://github.com/debugger22/github-audi

[2017-03-04 10:46] bmkramer commented on #26
Sounds good! Some resources that might be useful for work on this:

- our database of app. 600 scholcomm tools across the research workflow: [http://bit.ly/innoscholcomm-list](http://bit.ly/innoscholcomm-list) (mostly online tools, additions welcome!)
- survey results showing what (combination of) tools researchers actually use for various aspects of their workflow:

-- raw dataset [Zenodo](http:/

[2017-03-04 10:56] ekoner opened #35 "Newbies guide to Wikidata"
A session to introduce anyone new to [Wikidata](https://www.wikidata.org/wiki/Wikidata:Main_Page): What it is, how to use it, current projects and potential uses.

[2017-03-04 11:03] matthewgthomas opened #36 "R interface to anthropology database D-Place"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-04 11:15] #19 closed, assigned to JosephMcArthur

[2017-03-04 11:18] Daniel-Mietchen commented on #36
@matthewgthomas Do you want to give a pitch on this? If so, would be good if you could record a video/webcast of yourself explaining the matter, and upload that to YouTube or so. If that sounds too complicated, we can try to set up a Hangout or such. Ping @JosephMcArthur if you need help with that.

[2017-03-04 11:34] npscience commented on #25
+1 from me. Interested to contribute and to see the output.

[2017-03-04 11:34] ekoner commented on #31
+1

[2017-03-04 11:34] ekoner commented on #5
+1

[2017-03-04 11:36] npscience commented on #26
Thanks Bianca - super helpful!

[2017-03-04 11:36] goodwingibbins commented on #35
How do I check if certain data is up yet? Take this for example, one of the most central climate observation data sets.

https://www.esrl.noaa.gov/gmd/ccgg/trends/

[2017-03-04 11:37] fionabradley commented on #33
does Google (boo) Scholar have citation data that can be reused also for this kind of project?

[2017-03-04 11:52] Daniel-Mietchen commented on #35
@goodwingibbins

1. check whether a Wikidata item exists to which such data might fit, e.g. [atmosphere of Earth (Q3230)](https://www.wikidata.org/wiki/Q3230) or [Mauna Loa (Q159762)](https://www.wikidata.org/wiki/Q159762). If it does not, then consider creating a suitable item by way of https://www.wikidata.org/wiki/Special:NewItem
1. check whether a suitable Wikidata property exists for this dat

[2017-03-04 11:55] edsaperia opened #38 "Design a better repository for community artefacts"
I run Newspeak House, which is an institution working to do community development for groups producing political technology; this encompasses open gov, open science, open education, investigative journalism, collective action & decision-making, policy informatics, etc

Community development is critical to this ecosystem: no matter how open your data is, if you don't have a community, you won't hav

[2017-03-04 12:04] Daniel-Mietchen commented on #33
@bjw49 Have you looked into using Wikidata as a backend, e.g. as in [Scholia](https://tools.wmflabs.org/scholia/)?

[2017-03-04 12:26] matthewgthomas commented on #36
I've uploaded a short webcast pitch here: https://youtu.be/UMR7N193uM8 (will also Twit the link)

[2017-03-04 12:39] #13 closed, assigned to nobody

[2017-03-04 12:39] #11 closed, assigned to nobody

[2017-03-04 12:43] ahussain3 opened #39 "Visualization of trade between the UK and Europe"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-04 12:44] npscience commented on #33
Take a look at https://github.com/knowledge-direct/knowledge-direct for some efforts to start this.

[2017-03-04 12:45] JosephMcArthur commented on #33
Take a look at: openknowledgemaps.org

[2017-03-04 12:46] fionabradley commented on #33
https://core.ac.uk/ has a 'similar' articles feature but don't believe it is doing this from citations, would be great to add this feature there.

[2017-03-04 12:57] edsaperia commented on #15
Is this just for this event? Or for events in general? Or a general solution to this issue in all contexts?

I encounter this issue regularly and would be happy to work on designing a solution.

[2017-03-04 12:59] goodwingibbins commented on #26
I'm really interested in this! Been wanting to make some pathways for the openly-available climate data (https://www.esrl.noaa.gov/gmd/ccgg/trends/) to be turned into takeaway arguments/points about climate change, hopefully to remove the "us versus them" mentality of "scientists say this, so you should/shouldn't trust it blindly".

One issue that comes up with things like Jupyter etc is different

[2017-03-04 13:05] edsaperia commented on #26
I am currently collecting data that I want to publish effectively, so I guess I'm a user of this project? Is that helpful?

[2017-03-04 13:05] goodwingibbins opened #40 "Climate Visualisations"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-04 13:05] kshamash commented on #5
Very cool! I'm testing it out on this dataset https://figshare.com/articles/COAF_Jisc_and_RCUK_APC_data_2013-2015/3462620

[2017-03-04 13:07] kshamash commented on #34
I really like this idea. Anyone else want to work on it?

[2017-03-04 13:08] rfinean opened #41 "Advocacy tools to justify opening up private data sets"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-04 13:11] C21Beancounter commented on #41
Take a look at: http://theodi.org/the-value-of-open-data

[2017-03-04 13:22] Daniel-Mietchen opened #42 "The ideas that I might help do something about"
OK, so this is a test post to see whether we could use such issues to see who
- is interested in
- could contribute to
any of the ideas posted.

So here we go:
I posted issues #25 #32 #34 . I am also interested in #31 and I could probably help with #33 and #35.

[2017-03-04 13:25] npscience commented on #16
Can we recognise contributors using a hatrack? See https://github.com/LABHR/hatrack

[2017-03-04 13:25] puterd commented on #34
me too!

[2017-03-04 13:27] kshamash commented on #42
I'm working on #34 Sonify ongoing research. Any JavaScript experts available to help?

[2017-03-04 13:29] npscience commented on #26
@edsaperia Yes, user insight will be crucial.

Do you know of any tools already that you would use to illustrate your data collection and analysis steps, so that when you come to publish, readers can see what you've done and perhaps give it a go themselves?

Alternatively, would you like to play with any of the tools listed at https://github.com/sparcopen/open-research-doathon/blob/master/reproduc

[2017-03-04 13:32] npscience commented on #26
@goodwingibbins This is totally on point. The trouble with lots of these tools is that they are geared towards the programmer-user. If there's a way to adapt them for people less comfortable with the lingo, that would be very useful.

To start:
- what are the difficulties?
- how would we translate them?
- is it possible to make a friendlier version or add-on for current tools? Or do we need new on

[2017-03-04 13:34] npscience commented on #28
I'm running through the workflow for this today; and will speak with the organiser @daniellecrobinson tonight. Therefore, best time to contribute to this would probably be tomorrow, and I'd be happy to walk you through it / answer any Qs.

[2017-03-04 13:41] Daniel-Mietchen opened #43 "If you need help, then please post in this thread."
While feeling your way into a project, you might identify certain skills or other forms of expertise (domain knowledge, front-end etc.) that your team might need help with. For example, #34 would benefit from some JavaScript expertise, as per https://github.com/sparcopen/open-research-doathon/issues/42#issuecomment-284151466 .

Please post such cases here so that we can keep track of them.

[2017-03-04 13:50] Daniel-Mietchen commented on #34
I just asked: https://twitter.com/EvoMRI/status/838023302803259392 .

[2017-03-04 13:52] JosephMcArthur commented on #42
I'm interested in #41, #34, #26

[2017-03-04 13:55] npscience commented on #42
I posted #28 #26
I'm working on #28 this afternoon; and interested to chat through #26 with any contributors
I would like to help with #41 #34 #25 #38 #6, perhaps tomorrow
I'm on table one

[2017-03-04 13:55] pherterich commented on #39
Which tool did you demo again for storytelling with data? Didn't have the chance to take notes during your pitch. Thanks!

[2017-03-04 13:57] mrw34 commented on #42
I'm most interested in #25 but also would be happy to help with #31. Unfortunately I'm only around today though. I'm on table 3!

[2017-03-04 14:00] rfinean commented on #42
I'm interested in #41, #6, #26 and #28 for medical physiological research data

[2017-03-04 14:00] petermr commented on #42
Interested in #31 and #35
in #31 a general question of who can / should edit #wikidata and when.

- Can you push any set of triples?
- must every triple be checked?
- is a set of triples too "uninteresting" ?
- how do we update #wikidata when the basic authority changes (e.g. update of public dictionary)?

[2017-03-04 14:03] JosephMcArthur commented on #34
Sources may include:
* Crossref events data
* Share api

[2017-03-04 14:05] petermr commented on #42
What are the uses cases for #wikidata? #31 and #35

- identifying / disambiguating an object A in a document
- linking one object A to another B
- determining the relationship between A and B
- semantic queries - what A have properties X, Y at time T?
- finding reference data for an object - the gestation period of an Okapi is 14.5 +- 0.5 months
- aggregating common types of data ("all UK librarie

[2017-03-04 14:07] gpa-smith commented on #42
I'm interested in #26 (- table 1 at the moment), #37, #28 and can potentially help with all of these and #41

[2017-03-04 14:07] VsGab commented on #42
I'm interested in #33, #38 and #28 (brainstorming part). On table 5 (gabriel) at the moment

[2017-03-04 14:11] Daniel-Mietchen opened #45 "Things learned"
Whenever you learn something during the course of this event, make a note in this thread.

For instance, I learned that GitHub labels cannot be used by anyone posting an issue, which affects some of the plans we had for using them. Overview:
https://github.com/sparcopen/open-research-doathon/labels .

This is loosely related to #16.

[2017-03-04 14:31] markdurrant commented on #33
Repo here ==> https://github.com/markdurrant/open-research-hack-citation-explorer

[2017-03-04 14:47] afandian commented on #34
This is a fantastic idea. I've done something here, though it's more for status updates than research. http://status.eventdata.crossref.org/thing-action-service/index.html . So sorry that I can't be there today. I'll think about it. I'm afraid there's not much you can do with the CED at this point in time, but maybe soon.

[2017-03-04 15:04] SanjayRedScarf opened #46 "Open charity impact data"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-04 15:09] edsaperia commented on #45
https://hypothes.is/ allows you to annotate anything online. It has social features, unique public identifiers, and is open source.

[2017-03-04 15:09] andrea-f commented on #30
Coding with @AndreaCrotti https://github.com/andrea-f/newspeak/

[2017-03-04 15:10] DanSanz commented on #45
http://vega.github.io/ open source visualisation

[2017-03-04 15:12] Daniel-Mietchen commented on #15
@edsaperia
We initially had this ticket only for this event, and I just came in to close it now that we have #42. But yes, it is a frequent problem, so perhaps open a new idea issue for it and give a pitch on it?

[2017-03-04 15:13] Daniel-Mietchen commented on #16
@npscience can you turn this into an idea issue and give a pitch on it?

[2017-03-04 15:19] afandian commented on #34
I would be interested to hear ideas about this beyond just "it beeps when something happens". Can sound be used to communicate information in a way that offers new insight? I played around with some ideas for the link in my above comment, but I couldn't come up with anything better than "a different type of event makes a different pitched sound". The same with visualisation. I know this is a do-a-

[2017-03-04 15:24] npscience commented on #26
@edsaperia's resources:

1) WikiMedia data visualisation framework is vega: http://vega.github.io/ and https://vega.github.io/vega/

- open source, maintained by the vega community, supported by wikipedia
- data input as json, can create visualisations, and change colours, etc
- ideal workflow might be to offer support to translate from dataset to json (if not already), produce graph to show as st

[2017-03-04 15:35] fionabradley commented on #46
I had a chat with your colleague about this really interesting idea... a couple of thoughts based on past experience:

I agree with you that overheads are not a good measure of effectiveness. They are absolutely necessary to effectiveness in many cases to ensure that a charity can actually implement and steward the funds they receive.
[Charity Navigator](https://www.charitynavigator.org/) and othe

[2017-03-04 15:38] puterd commented on #34
Hey! Yes this is exactly what we were discussing at the start. I'm going to create the audio files and want to do something more informative/interesting. It could be more like an inventory so a clap indicates something where as a snare indicates another thing? Say if the paper mentions interdisciplinary it could be indicated by a clap. Another thing might be something to indicate a new discipline

[2017-03-04 15:39] puterd commented on #34
It would be useful to interview some people who have to crawl through lots of scientific papers, questions like what information do they immediately need or want if they are skimming lots of articles?

[2017-03-04 15:40] nicklakasas commented on #45
http://openrefine.org/ <-- I've been using to upload data from a flat file and then link that data set to [wikidata](https://www.wikidata.org/).

[2017-03-04 15:48] Daniel-Mietchen commented on #34
In terms of sonifications, there are some basic choices for each sound:
- pitch
- timbre
- duration
- volume.

In addition, individual sounds can be combined, and interact via things like rhythm and harmony.

None of this has to be linear, so one could imagine, for instance, having thresholds above or below which things happen differently.

[2017-03-04 15:58] afandian commented on #34
Also worth thinking about what objects you're tracking. Articles (that have DOIs)? Wikipedia articles? Particular words mentioned somehow?

EDIT: Sorry I'm assuming Wikipedia because of Daniel's background. CED offers a much broader set of data, although Wikipedia is an important part.

[2017-03-04 15:59] ag1000 commented on #46
I would be interested in helping (member of DataKind UK) :)

[2017-03-04 16:00] wetneb commented on #46
I'm interested too! And happy to upload stuff to Wikidata :-)

[2017-03-04 16:04] gpa-smith commented on #43
Not specifically technical expertise, but if any researchers can offer insight into how unstructured metadata is generated, stored and managed during the research process this could help to assess the level of metadata for final published datasets  #26

[2017-03-04 16:20] gpa-smith commented on #26
One issue that we have identified that distances the final data visualisation from the 'core' data set is the retrospective way data management may kick in at the publication stage, attempting to make sense of essentially unstructured data at the end of the process.

1. Is this a dominant issue for researchers?
2. Would better data curation tools and resources form a useful solution? e.g. services

[2017-03-04 16:32] C21Beancounter commented on #46
1) Peer Group Support (economists): http://www.probonoeconomics.com/ (help charities improve understanding on their impact);
2) Tech for good support: http://www.datakind.org/chapters/datakind-uk (currently promoting "Data Maturity in Charities).

[2017-03-04 16:38] bmkramer commented on #26
Thanks @npscience for pointing out Vega, didn't know that one! @Daniel-Mietchen: with the Wikimedia Graph extension, another one to add to the Wikimedia workflow? (referencing a separate discussion yesterday)

Further responding to/building on @npscience comment above:

1) Two other tools for possibly bridging the gap between 'clicking & coding':
- [Plot.ly](https://plot.ly) - import data as sprea

[2017-03-04 16:50] Daniel-Mietchen commented on #46
Not sure this is helpful here but
https://opencorporates.com/
may be worth a look, as it gathers data about companies in a way that could be relevant for charities, though not necessarily in terms of impact.

[2017-03-04 16:52] C21Beancounter commented on #46
Sorry forgot to add.  As discussed, the "Effective Altruism"/Give Well in the Charity arena might be the equivalent of "Net Positive" approach (to Climate Change) in the business world.  https://www.forumforthefuture.org/blog/net-positive-principles (quick ref to 12 principles) and https://www.theclimategroup.org/news/net-positive (for the full report).

[2017-03-04 16:54] Daniel-Mietchen commented on #26
@bmkramer In terms of workflows, I would not add individual MediaWiki extensions, just mention that there are [thousands of them](https://www.mediawiki.org/wiki/Category:Extensions) that together cover all aspects of many research cycles. I had briefly mentioned (but not shown) one of them yesterday: https://www.mediawiki.org/wiki/Extension:Jmol .

[2017-03-04 17:02] bmkramer commented on #26
@gpa-smith Some thoughts on this, following your 3 questions:

- Agree that this is a general data-management issue, and as such, should indeed be part of the research workflow from the beginning, not as an add-on at publication (as with data management in general!)
- Which is why I also think solutions in the form of tools/platforms etc should be journal- and publisher independent (but journals/p

[2017-03-04 17:08] goodwingibbins commented on #40
This is probably best achieved by working on #26 first! Anyway, it's a use-case I'm particularly interested in.

[2017-03-04 17:33] JosephMcArthur opened #47 "Make this style of event easier to do!"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-04 17:33] npscience commented on #41
The wealth of use cases for open data are shown here: http://frictionlessdata.io/user-stories/ (and not exhaustive)

[2017-03-04 17:33] ahussain3 commented on #39
We have a data source for this!
http://atlas.media.mit.edu/en/resources/data/

@pherterich - the site was http://polygraph.cool

[2017-03-04 17:33] JosephMcArthur commented on #9
Might want to consider Swagger apparently! http://editor.swagger.io/#!/

[2017-03-04 17:34] npscience commented on #41
How is open data being used in the EU: https://www.europeandataportal.eu/en/highlights/how-open-data-being-re-used-europe

[2017-03-04 17:34] rfinean commented on #41
Like a VC fund spreading their investment amongst hundreds of small companies (with the expectation that most will fail, a few will muddle along but a couple will succeed spectacularly), 'giving away' our data on an 'attribution-only' basis allows thousands of researchers all over the world to use our data to do hundreds of different things, all findable by us because they cite their use of our da

[2017-03-04 17:38] nicklakasas commented on #40
Here is what I did to join some data together.

1. Found some raw data - http://www.wri.org/resources/data-sets/cait-historical-emissions-data-countries-us-states-unfccc
2. Uploaded this into open refine. Download me from http://openrefine.org/
3. You can then link data from wikidata based on the open refine data. Below is an example expression I used. It joins the Country column from the open ref

[2017-03-04 17:39] goodwingibbins commented on #47
Note of importance: a simple "welcome to github" needs to go along with the forkable repo

[2017-03-04 17:41] npscience commented on #26
@bmkramer - Thank you, I'll explore these new tools and standards.
(Edited March 8 to remove mention of bkramer, incorrect handle)

All - is it worth creating a map of this space? Or an ideal workflow to see where the gaps remain?

[2017-03-04 17:47] npscience commented on #32
I think this is a really interesting project. I wonder if it would be useful to start by:
(i) adding some headings for the major issues
(ii) these could define an input field for people to start contributing key resources about the issue, and/or key steps for solving the problem via a form interface (for non-githubbers)

[2017-03-04 17:48] edsaperia commented on #30
I recommend chatting to https://twitter.com/sophches, who is doing relevant research in this area.

[2017-03-04 18:02] gpa-smith commented on #26
@bmkramer - ISA framework is an interesting one; the journal [Scientific Data](http://www.nature.com/sdata/) uses ISA-Tab to generate the structured side of metadata for its Data Descriptor articles, which are focused around datasets as opposed to traditional articles that have data submitted as supporting material.

The ability to create machine readable metadata for other article types at earlie

[2017-03-04 18:04] fionabradley commented on #47
There were so many good discussions going on at the same time and I wanted to join them all! Maybe 60 minute chunks so people can rotate around each hour and those who are working intensely on something can continue on the same thing all afternoon and have new people join them on the hour. This might be handy also for those joining remotely, "join at 4pm to discuss x'

[2017-03-04 18:18] C21Beancounter opened #48 "Conflict of Interest and Academic Papers - can we resolve it?"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-04 18:19] npscience commented on #26
Ok. Tomorrow's tasks, for me at least (feel free to add):
- find out more about all of the above.
- map out the flow, what is already being done, what is needed, what are the opportunities for each of us to take these forward.

[2017-03-04 18:19] Daniel-Mietchen commented on #25
We've taken Ross' spreadsheet and added some columns for
- Notebook URL
- Code in problem cell
- Problem

The "Code in problem cell" column documents the notebook code causing the first problem, and the "Problem" column gives more details. So far, basically none of the notebooks ran through: We normally stopped after the first such error and went on to the next notebook, but for one rather complex

[2017-03-04 18:35] npscience opened #49 "Recognise contributors to the projects using a hat rack"
[//]: # "=======================
Instructions for posting issues:
(1) Write your post (below this text blob) using Markdown (as per https://guides.github.com/features/mastering-markdown/ ) or just plain text.
(2) Add the appropriate labels to your post, e.g. 'idea' or 'lightning talk' (or both for idea pitches), 'interests', 'skills' or 'experience'. Use 'help wanted' as needed.
(3) Don't worry ab

[2017-03-04 18:35] npscience commented on #16
This is now issue #49 - I can pitch it tomorrow.

[2017-03-04 18:36] fionabradley commented on #26
Does the [http://www.nltk.org/](http://www.nltk.org/) fit in here?

I agree with Bianca that easy tools for the non-coder are essential. Tableau Community is nice but a suite of open source tools is ideal. I just learning Python because it's popular in humanities and social science (along with R) but it will be a long time before being able to do anything useful with it. :)

[2017-03-04 18:42] Daniel-Mietchen commented on #46
I think some organizations to test-drive such "open charity impact data" workflow might be
- http://okfn.org/
- https://wikimedia.org.uk/
- https://science.mozilla.org/ (not sure about their legal status of a charity)
- http://wellcome.ac.uk/

[2017-03-04 18:47] C21Beancounter commented on #46
Me again:
1) When it comes round again consider applying for ODI startups accelerator: http://theodi.org/news/four-new-open-data-startups-join-odi-startup-accelerator-programme

2) Will get back to you about Charity Reporting /XBRL.  Not sure how much the SoRP expects impact data to be reported (my understanding is it is Financial information only), but here is some background: https://xbrl.frc.or

[2017-03-04 19:52] fionabradley commented on #48
Sorry I can't attend tomorrow but am very interested in following this!

[2017-03-04 23:33] Daniel-Mietchen commented on #35
The observations of the group that looked into this are now available via
https://github.com/sparcopen/open-research-doathon/blob/master/wikidata_for_newbies.md .

[2017-03-05 00:06] Daniel-Mietchen commented on #25
I've also added a column for the PMC URL to reduce the fiddling with URLs.

[2017-03-05 09:32] barney-walker commented on #45
Making SPARQL queries to [opencitations.net](opencitations.netl)

[2017-03-05 09:50] matthewgthomas commented on #42
I'm interested in #26, #33 and #46 (especially keen to help on #46 beyond this event)

[2017-03-05 10:29] Daniel-Mietchen commented on #35
I notified the Wikidata mailing list about this: https://lists.wikimedia.org/pipermail/wikidata/2017-March/010379.html .

[2017-03-05 10:32] JosephMcArthur commented on #47
I think @Daniel-Mietchen has also tried to make sure this event is aware of it's history & builds on others work. We could put this in the pack too I think.

[2017-03-05 10:47] HKLondon commented on #48
Interesting idea. Do you have a vision of what a machine readable COI would look like?

If I take this paper as an example: http://www.bmj.com/content/356/bmj.j510  (This is a paper published by the company I work for). The competing interests statement is pasted below. If we wanted to make it more machine readable how might we go about doing this?

Competing interests: All authors have completed

[2017-03-05 10:57] Daniel-Mietchen commented on #25
I notified the Jupyter mailing list: https://groups.google.com/forum/#!topic/jupyter/6pQIarRmrsc .

[2017-03-05 11:00] HKLondon commented on #45
Some of the links to BMJ Open's [pages about data management](http://bmjopen.bmj.com/pages/datamanagement/) are broken. (Have asked Publisher to update links)

[2017-03-05 11:00] Daniel-Mietchen commented on #43
We could use help with filling [the spreadsheet](https://docs.google.com/spreadsheets/d/1txg0u9zARHrLkY4MYuz5vmsVCZUOItgybEHqx13Bkbc/edit#gid=0) we're using for tracking progress on #25:

1. checking the paper for mentions of "Jupyter" or "ipynb", with the idea to enter into column AD either the URL of the notebook or "n/a" if there is none (e.g. "Jupyter" is only mentioned in general terms, not i

[2017-03-05 11:05] nicklakasas commented on #43
I'll help with this one.

[2017-03-05 11:19] bmkramer commented on #26
One other aspect of this as a workflow is integration in the writing process. Overleaf and Authorea both (in varying aspects) integrate with Jupyter notebooks, for example, and Authorea works with git-based versioning.

Integration with such a workflow would also allow publishers to stimulate/facilitate reproducible reporting, while not tying that aspect of manuscript preparation/submission to a l

[2017-03-05 11:37] Daniel-Mietchen commented on #48
Thanks for the example. The basic idea in making this machine actionable (as opposed to machine readable) is to use machine actionable identifiers (MAI) when possible, and to limit the choices to unambiguous options. Ideally, the MAI would also be globally unique.

Let me walk through your example a bit:

[code]
This section could itself not just be tagged in terms of being a document section but

[2017-03-05 11:58] C21Beancounter commented on #48
Hi Finona/HL London.

FB: I should have put this under Daniel's thread about things that others could take forward thread (because I am working on something entirely separate and cant work on this!).

HKL: I never actually got round to sketching out a vision. Indeed, I have however, just read Daniel's response and I couldnt have put it better myself.  Such a pity I didnt raise an issue for this ea

[2017-03-05 12:05] mrw34 commented on #25
Here's a write-up of our efforts:

https://markwoodbridge.com/2017/03/05/jupyter-reproducible-science.html

Many thanks to @Daniel-Mietchen for the original idea, and for all the help over the weekend!

[2017-03-05 12:07] Daniel-Mietchen opened #51 "Build ContentMine-based workflow for "main subject" of papers in Wikidata"
ContentMine can analyze papers in various ways, including as to what the most salient terms are, e.g. via https://en.wikipedia.org/wiki/Tf%E2%80%93idf .

It would be nice to harvest that to annotate Wikidata items about papers with the property P921 "main subject".

[2017-03-05 12:11] rfinean commented on #41
After a lot of searching for my specific use-case of 'human physiological observations data' I had to narrow it down to 'in critical care' before finding any data at all. Disappointingly, [re3data.org](http://www.re3data.org/search?query=&subjects%5B%5D=20503%20Human%20Genetics&subjects%5B%5D=205%20Medicine) didn't have any vitals measurement data sets. Finally I found http://mimic.physionet.org/

[2017-03-05 12:26] Daniel-Mietchen commented on #51
As a starting point, it would make sense to go for papers that are already on Wikidata and have a P932 (PMCID) statement.

The [query for that](https://query.wikidata.org/#SELECT%20%3Fitem%20%3Fpmcid%20WHERE%20%7B%0A%20%20%3Fitem%20wdt%3AP31%20wd%3AQ13442814%3B%0A%20%20%20%20%20%20%20%20wdt%3AP932%20%3Fpmcid.%20%20%0A%7D%0A%23LIMIT%20100) is

[code]

Without the LIMIT command, this just took 6s an

[2017-03-05 12:33] npscience commented on #26
Check out the Data Stack at https://blog.liip.ch/archive/2017/02/13/data-stack.html

Tools to consider:
* rawgraphs.io
* Apache Hadoop
* Tableau
* https://python-xy.github.io/

[2017-03-05 12:36] npscience commented on #26
Tasks:
[] map out the basic workflow for a researcher, from data collection to publication. Include steps for creating figures from data, that are both interactive and reproducible
[] populate the workflow with current tools
^^ this requires:
[] knowledge of tools used by life scientists (analyze 101innovations data) @npscience doing this
[] understand the input/output file types of each tool
[] i

[2017-03-05 12:45] petermr commented on #51
Daniel-Mietchen and I discussed this with the possible outcomes of:

 * being hacked at OpenData day
 * being incorporated into the WikiFactMine project https://meta.wikimedia.org/wiki/Grants:Project/ContentMine/WikiFactMine

**High-level strategy**

Collect a corpus of Open articles and carry out supervised term analysis of the content, supported by #wikidata-enhanced dictionaries. Articles with

[2017-03-05 12:56] bkramer commented on #26
Hi,

You have inadvertently cc'd me (Brian Kramer brian@mitchkram.com) on this thread. 

-b

Sunday, March 5, 2017, 06:19 -0500 from Bianca Kramer  <notifications@github.com>:

[2017-03-05 13:02] Daniel-Mietchen commented on #41
In case it's useful for #33 or #51, the Wikidata ID of that paper is [Q28871995](https://www.wikidata.org/wiki/Q28871995).

[2017-03-05 13:16] Daniel-Mietchen commented on #51
OK, I've added these to https://www.wikidata.org/wiki/Q24288762#P921 .

How can we scale that up? Can you provide a list of the following kind?
* Wikidata item for scientific article that has a PMCID (see my comment above)
* Wikidata items for the top 3 - 5 topics identified as "main subject" (in the sense of [P921](https://www.wikidata.org/wiki/Property:P921)) as per your comment above

[2017-03-05 13:17] Daniel-Mietchen commented on #25
@mrw34 Thanks - I'll go right into it.

[2017-03-05 13:57] barney-walker commented on #43
If anyone who knows python wants to help me play around with the [google scholar scraper](https://github.com/lecy/google-scholar-scraper-in-python) let me know!

Also still looking for people to help on the JavaScript side.

[2017-03-05 14:01] nicklakasas commented on #45
You can update wikidata not only directly, but via a game type system as well. Have a look http://tools.wmflabs.org/wikidata-game and make it better!

[2017-03-05 14:06] npscience commented on #26
What data analysis tools for life scientists use?

Source data: 101innovations [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.49583.svg)](https://doi.org/10.5281/zenodo.49583)
Authors: B. Kramer, J. Rosman
What is this? 2015-2016 survey of tools used in scholarly workflow

Aim:
Identify the common tools used for data analysis by life scientists, to inform the workflow map (mentioned above).

[2017-03-05 14:33] npscience commented on #26
Side comments: Plot.ly is not easy to use. And slow.

[2017-03-05 14:37] JosephMcArthur commented on #45
We can sonify our work!

[2017-03-05 14:39] Daniel-Mietchen opened #52 "Test whether we can hear GitHub activity in this repo"
as per the "GitHub Audio" mentioned in #34 (which we are running right now), we should hear it when I am posting this issue.

[2017-03-05 14:40] JosephMcArthur commented on #52
testing a comment!

[2017-03-05 14:40] Daniel-Mietchen commented on #52
It works - we just heard it.

[2017-03-05 14:40] #52 closed, assigned to nobody

[2017-03-05 14:42] Daniel-Mietchen commented on #52
To be precise, we heard the original posting - and the closing - of the issue but not the comments.

[2017-03-05 14:51] HKLondon commented on #26
6 high level workflows for publishing data in more traditional journals:
[https://docs.google.com/spreadsheets/d/1A_cFRnN6_j5bpUAFqv6Fb14xyJAtjKSg_jf-qCfriiY/edit?usp=sharing](https://docs.google.com/spreadsheets/d/1A_cFRnN6_j5bpUAFqv6Fb14xyJAtjKSg_jf-qCfriiY/edit?usp=sharing)

[2017-03-05 14:59] rfinean commented on #41
In case it's useful for your tests here is the article's iPython source: https://github.com/MIT-LCP/mimic-iii-paper/

[2017-03-05 15:03] Daniel-Mietchen commented on #25
I found one that actually ran through, albeit after a warning about an old kernel:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4940747/bin/13742_2016_135_MOESM3_ESM.ipynb . A very simple notebook to test a random number generator, but hey, it works!

To celebrate the event, I introduced color coding to the spreadsheet: red for cases where the run resulted in an error, green when it did not.

[2017-03-05 15:04] Daniel-Mietchen commented on #45
Joe's comment above is referring to #52.

[2017-03-05 15:06] npscience commented on #26
@HKLondon Great! Here's the url for the workflow diagram [WIP] https://www.draw.io/#G0B_a2JekZMrW8Z0xRc3hoR1Baczg

[2017-03-05 15:16] Daniel-Mietchen commented on #25
Here's a notebook shared *only* as a screenshot, from a paper about reproducibility:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5014984/figure/figure1/ .

Just added yellow to the spreadsheet for cases like this where the notebook did not produce errors nor ran through, and where "n/a" is not applicable in the sense that there is no notebook.

[2017-03-05 15:22] Daniel-Mietchen commented on #25
There is a nice "Ten simple rules" series in PLOS Computational Biology:
http://collections.plos.org/ten-simple-rules . Perhaps we should do one on "how to share Jupyter notebooks"?

They already have [Ten Simple Rules for Reproducible Computational Research](http://dx.doi.org/10.1371/journal.pcbi.1003285) and [Ten Simple Rules for Cultivating Open Science and Collaborative R&D](http://dx.doi.org/

[2017-03-05 15:28] Daniel-Mietchen commented on #41
@rfinean Thanks for the pointer - that is actually on our list (line 78), and I'll dive right into it.

[2017-03-05 15:29] HKLondon commented on #26
Whilst most academic publishers can link to data it seems like very few academic publishers can (easily) publish interactive data sets like the OECD: http://stats.oecd.org/index.aspx?DataSetCode=PDB_LV or integrate interactive figures within the HTML versions of articles (many more examples of interactive PDFs see [https://peerj.com/preprints/1594.pdf](https://peerj.com/preprints/1594.pdf).

Some

[2017-03-05 15:46] pherterich commented on #26
Remembered this a bit too late, but there was a RDA working group on publishing workflows, but it might be a bit too generic compared to what you're interested in. http://doi.org/10.5281/zenodo.20308

[2017-03-05 15:49] rfinean commented on #41
If we look into older articles about MIMIC-II (from 2011) we can see [thousands more citations](https://scholar.google.co.uk/scholar?q=MIMIC-II&btnG=&hl=en&as_sdt=0%2C5)

[2017-03-05 15:57] Daniel-Mietchen commented on #41
@rfinean @tompollard None of the three notebooks in https://github.com/MIT-LCP/mimic-iii-paper/tree/master/notebooks ran through without error. I only documented the first error for one of them.

[2017-03-05 16:04] Daniel-Mietchen commented on #25
Some comments relevant for here are also in https://github.com/sparcopen/open-research-doathon/issues/41#issuecomment-284239044 .

[2017-03-05 16:20] C21Beancounter commented on #16
Daniel.  Didnt know where else to put this.  Following the discussion about providing academics/researchers with a simple way (e.g. infographic) of knowing which mechanisms (e.g. platforms, apps) might be in line with their Open Access (or other!) principles.

Here is an example of a project trying to provide such assistance (with apps, and not specifically for academia): http://redecentralize.org

[2017-03-05 16:21] matthewgthomas commented on #36
I managed to put together a bare-bones R package: https://github.com/matthewgthomas/rdplace
Only one function at the moment, but more to come...

[2017-03-05 16:40] Daniel-Mietchen commented on #45
There's a lot to be learned about author disambiguation by going to
https://orcid.org/orcid-search/quick-search?searchQuery=%22Li+Li%22
and clicking "Show more" for a while.

[2017-03-05 16:59] rfinean commented on #41
The [Open Data Handbook](http://opendatahandbook.org/) is a good resource for advocating publishing data in a [FAIR](http://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/oa_pilot/h2020-hi-oa-data-mgt_en.pdf) way

[2017-03-05 17:04] #8 closed, assigned to JosephMcArthur

[2017-03-05 17:04] #9 closed, assigned to JosephMcArthur

[2017-03-05 17:06] JosephMcArthur commented on #49
Just did it! https://labhr.github.io/hatrack/#repo=sparcopen/open-research-doathon

[2017-03-05 17:06] #48 closed, assigned to nobody

[2017-03-05 17:11] npscience commented on #47
Suggestions: Up the XX:XY ratio, e.g. come-along-with-a-friend style strategies

[2017-03-05 17:12] #46 closed, assigned to nobody

[2017-03-05 17:13] #45 closed, assigned to nobody

[2017-03-05 17:14] #43 closed, assigned to nobody

[2017-03-05 17:15] JosephMcArthur commented on #16
* Look at additional milestone
- [ ] send email
 * let folks know that if they're going to do more work leave a note in the follow up email !

[2017-03-05 17:15] #42 closed, assigned to nobody

[2017-03-05 17:17] #41 closed, assigned to nobody

[2017-03-05 17:18] #40 closed, assigned to nobody

[2017-03-05 17:19] #39 closed, assigned to nobody

[2017-03-05 17:19] barney-walker commented on #33
Microsoft Academic API seems promising as a data source.

[2017-03-05 17:19] #38 closed, assigned to nobody

[2017-03-05 17:19] Daniel-Mietchen commented on #36
Great!

[2017-03-05 17:21] #35 closed, assigned to nobody

[2017-03-05 17:23] #33 closed, assigned to nobody

[2017-03-05 17:23] #32 closed, assigned to nobody

[2017-03-05 17:24] wetneb commented on #35
I've made a diagram to explain how "instance of" (P31) and "subclass of" (P279) work together:

![Explanation](https://tools.wmflabs.org/openrefine-wikidata/static/explanation_types_wikidata.svg)

https://tools.wmflabs.org/openrefine-wikidata/static/explanation_types_wikidata.svg

[2017-03-05 17:24] #31 closed, assigned to nobody

[2017-03-05 17:25] npscience commented on #28
I got a little way through the workflow and sent some comments over to Danielle (see https://via.hypothes.is/https://github.com/daniellecrobinson/Data-Rescue-PDX/blob/master/README.md). No other contributions.

[2017-03-05 17:25] Daniel-Mietchen commented on #30
@andrea-f You showed a prototype yesterday - can you post the link here?

[2017-03-05 17:26] #28 closed, assigned to nobody

[2017-03-05 17:26] JosephMcArthur commented on #49
Webpage made: https://sparcopen.github.io/open-research-doathon/Let's%20Build%20a%20Hat%20Rack.html

[2017-03-05 17:27] #26 closed, assigned to nobody

[2017-03-05 17:28] npscience commented on #26
Outstanding:
[x] create interactive visualisation of the 'analysis tools that life scientists use' data
Files needed are at https://github.com/npscience/open-research-doathon
* ...count.csv
* master.R --> RShiny app (thanks to @bjw49 :D)
Remaining tweaks for the Shiny:
[x] order bars by highest count first (native order in the csv); currently alphabetical
[] transpose x<-->y so that tool names are

[2017-03-05 17:30] #18 closed, assigned to nobody

[2017-03-05 17:31] #15 closed, assigned to nobody

[2017-03-05 17:32] wetneb commented on #5
So, we've done a lot of things on this topic:
- [x] demonstrating Wikidata and OpenRefine to many participants
- [x] trying the reconciliation service on various datasets
- [x] fixing bugs in the reconciliation interface, https://github.com/wetneb/openrefine-wikidata/commit/d2176d3e47d8b577d785f40e9be67b4e4deab84d https://github.com/wetneb/openrefine-wikidata/commit/48e2ac63c2d725610e8ce2e7f2ec70d

[2017-03-05 17:32] #7 closed, assigned to JosephMcArthur

[2017-03-05 17:32] #6 closed, assigned to JosephMcArthur

[2017-03-05 17:32] JosephMcArthur commented on #15
For small groups, this sort of does itself. However, the intro doc really helped - simply control f for what you need!

[2017-03-05 17:34] #5 closed, assigned to nobody

[2017-03-05 17:35] #49 closed, assigned to nobody

[2017-03-05 17:37] npscience commented on #36
@matthewgthomas Hiya, we're closing issues right now, because it's the end of the event. Great to see your work so far! We'd love it if you continue to post in here or at least link to any ongoing work.

[2017-03-05 17:37] #36 closed, assigned to nobody

[2017-03-05 17:38] nicklakasas commented on #30
We will be closing the ticket soon, but this doesn't mean it cannot be worked on.
Only some housekeeping from the event.

[2017-03-05 17:39] rfinean commented on #6
[Open Data Handbook](http://opendatahandbook.org/guide/en/how-to-open-up-data/) is a good starting point. [Frictionless Data](http://frictionlessdata.io/guides/publish/tabular/) has tools and guides for adding metadata and packaging.

[2017-03-05 17:40] #30 closed, assigned to nobody

[2017-03-05 17:48] goodwingibbins commented on #47
Trying to follow remotely - awesome to see all the great work and hello everyone from the Alps!

One suggestion: every lighting lecture could have a 1-2 word unique identifier? Especially for someone not hacking/doing full-time, the #XX can extra processing. I'd suggest: "#XX (Identity Words)" was used where possible.

[2017-03-05 17:53] goodwingibbins commented on #16
For the people who attended to stay connected with each other and other people with similar interests, don't forget about the Open Research London Community Meet-up [@OpenResLDN](https://twitter.com/openresldn?lang=fr) and similar perhaps to follow. There's nothing like bumping into someone face to face again and being able to catch up on and suggest developments to something you worked on once in

[2017-03-05 18:53] Daniel-Mietchen commented on #25
The above close was just as part of the wrap-up of the doathon. I will keep working on it and document my progress over at https://github.com/Daniel-Mietchen/ideas/issues/2 .

[2017-03-05 19:04] Daniel-Mietchen commented on #16
@JosephMcArthur add to the follow-up email a question like "What would you change in future events of this kind?"

[2017-03-05 19:13] Daniel-Mietchen commented on #47
@JosephMcArthur We have to move the hat rack files into another repo if we want to keep this one CC0.

[2017-03-05 19:15] andrea-f commented on #30
Hi @Daniel-Mietchen the screenshot used is in the git repo.

[2017-03-05 19:20] Daniel-Mietchen commented on #47
Another one to add: - perhaps ask people how/where they got to know about the event.

[2017-03-05 19:48] Daniel-Mietchen commented on #47
The event documentation is gradually moving over to https://github.com/sparcopen/open-research-doathon/tree/master/Do-a-thon%20template%20files .

[2017-03-05 20:44] tompollard commented on #41
Hi @Daniel-Mietchen interesting to see this conversation here! Please could you point me to the issue that you had running the MIMIC-III notebook? It certainly was working and I'd like to fix it.

I assume the cause is either (1) updates to packages (2) a result of testing the notebook on the current version of MIMIC (v1.4), rather than the previous version which it was written for.

[2017-03-05 21:25] rossmounce commented on #25
@mrw34 @Daniel-Mietchen excellent write-up!

If licensing allows could you upload somewhere all the .ipynb notebooks you found that were related to those 107 papers?

[2017-03-05 22:27] Daniel-Mietchen opened #54 "Set up a participant survey"
- should be simple, slick, useful
- perhaps just use a GitHub issue that people respond to

[2017-03-05 23:39] Daniel-Mietchen commented on #25
@rossmounce I plan to do that but haven't yet checked for licensing (added column AH for that).

The notebook URLs are in column AD, which currently has the following list:

* http://nbviewer.jupyter.org/github/biocore/American-Gut/blob/master/ipynb/module2_v1.0.ipynb
* http://nbviewer.jupyter.org/github/Gilles86/in_limbo/blob/master/notebooks/level2_simple.ipynb
* https://www.ncbi.nlm.nih.gov/pmc

[2017-03-05 23:44] Daniel-Mietchen commented on #30
Ah, OK - hadn't noticed [it](http://i.imgur.com/isbzXS7.png) was a screenshot.

[2017-03-05 23:47] Daniel-Mietchen opened #55 "Check the repositories that have been worked on during the event"
e.g. in order to
- do outreach about the work done
- provide feedback
- comment on next steps

example: https://github.com/andrea-f/newspeak

[2017-03-06 01:27] Daniel-Mietchen commented on #25
Mark's write-up is now up at https://markwoodbridge.com/2017/03/05/jupyter-reproducible-science.html .

[2017-03-06 01:50] Daniel-Mietchen commented on #34
The close above was just part of housekeeping when wrapping up the event.

I would certainly like to see this project develop further, and am happy to help as far as I can.

Besides the information sources already mentioned above, one could consider things like
https://openaccessbutton.org/request or a filtered version of https://hypothes.is/stream .

EDIT: @afandian the scope of this ticket is re

[2017-03-06 02:22] Daniel-Mietchen commented on #25
There is a validator tool for Jupyter notebooks: https://github.com/jupyter/nbformat/blob/master/nbformat/validator.py

[2017-03-06 09:04] Daniel-Mietchen commented on #41
@tompollard It's line 78 in [this spreadsheet](https://docs.google.com/spreadsheets/d/1txg0u9zARHrLkY4MYuz5vmsVCZUOItgybEHqx13Bkbc/edit#gid=0). For background, see https://markwoodbridge.com/2017/03/05/jupyter-reproducible-science.html .

[2017-03-06 09:33] Daniel-Mietchen commented on #25
[Here](https://groups.google.com/forum/#!topic/jupyter/rKvl5y3IoBo) is a discussion about using Jupyter notebooks programmatically, with a useful [demo](https://gist.github.com/fperez/9716279).

[2017-03-06 09:38] Daniel-Mietchen commented on #45
There is a lot to be learned about how to make Jupyter notebooks reproducible:
https://markwoodbridge.com/2017/03/05/jupyter-reproducible-science.html .

[2017-03-06 10:21] Daniel-Mietchen commented on #25
I am thinking of submitting this to [JupyterCon](https://conferences.oreilly.com/jupyter/jup-ny) &mdash; submission deadline March 14. Anyone in?

[2017-03-06 10:24] rossmounce commented on #25
@Daniel-Mietchen I'd be happy to help you prepare the abstract submission, do a bit more analysis but I can't go to the meeting :) Does that count as 'in' ?

[2017-03-06 10:43] Daniel-Mietchen commented on #25
That's "in enough" for my taste. Don't know whether I can go either, but the point is to reach out to the Jupyter community and to help do something about these issues, e.g. by refining the recommendations and perhaps offering some validation mechanism (think Schematron for XML).

[2017-03-06 10:47] Daniel-Mietchen commented on #35
I've added this team's issue to the [discussion](https://phabricator.wikimedia.org/T159216) about an upcoming Wikidata documentation sprint.

[2017-03-06 10:48] mrw34 commented on #25
I can help with setting up a minimal "best practice" git repo including a notebook, a requirements file, and a script to automate testing the notebook whenever it's pushed. This would work well with GitLab, who have a free CI and build-status notification service.

By the way, I'm not sure that "validation" has much of a role to play here, at least not in the sense of XML/JSON validation (i.e. ```

[2017-03-06 10:54] Daniel-Mietchen commented on #25
@mrw34 that sounds great. Happy to use GitLab for that. Yes, "validation" is probably the wrong word - just feeling my way into this sphere.

Not sure about categorizing the problems yet, but I am aiming at fixing and documenting all issues with all of these notebooks over the next month or so.

[2017-03-06 11:01] rossmounce commented on #25
tbh, should we really expect all 'found' .ipynb notebooks to be reproducible? I think not.

As an author of an .ipynb notebook associated with a preprint:
https://peerj.com/preprints/773/

I can say I _knew_ when I published it that it wouldn't be reproducible by others, but that wasn't the point. The content/data I was working on was under copyright and thus it couldn't be shared with the paper o

[2017-03-06 11:03] mrw34 commented on #25
Yep, would be interesting to see how many in the list are like that.

Ultimately the key is probably providing a zero-friction way of authors to opt-into continuous verification of notebooks where appropriate.

[2017-03-06 13:41] Daniel-Mietchen commented on #25
@rossmounce @mrw34

I agree - we should not expect all Jupyter notebooks to be reproducible, since there are always exceptions like the ones you outlined. Some of these may be avoidable (e.g. some dependencies on proprietary libraries), others not (e.g. datasets that just are not public).

For me, the point of the exercise was to document the extent to which the notebooks are reproducible (both in

[2017-03-06 15:23] npscience commented on #49
Updated link: [https://josephmcarthur.github.io/do-a-thon_hatrack/Let's%20Build%20a%20Hat%20Rack.html](https://josephmcarthur.github.io/do-a-thon_hatrack/Let's%20Build%20a%20Hat%20Rack.html)

[2017-03-06 22:43] tompollard commented on #41
Thanks @Daniel-Mietchen. The problem seems to be that the test user was trying to run a Python 2 notebook using Python 3.

[code]

I guess we could provide a virtual environment of some sort. Adding a requirements file to help with package install would be useful, so I'll try to get around this.

The user would also need access to a password protected dataset, so it's difficult to avoid a small am

[2017-03-06 23:21] Daniel-Mietchen commented on #25
I am reopening this, since it seems we're still active here.

[2017-03-06 23:24] Daniel-Mietchen commented on #10
We had added the "postponed" label yesterday for things that haven't been finished during the event and would be suitable for similar events in the future.

Since nobody seemed to like that term, I am going to rename that label to "next-time".

[2017-03-06 23:32] Daniel-Mietchen commented on #10
When I changed the label to "next-time", none of the usages of the label inside individual issues were updated - they all still showed the "postponed" label, even though
https://github.com/sparcopen/open-research-doathon/labels/postponed
produced an empty list, while
https://github.com/sparcopen/open-research-doathon/labels/next-time
did work fine.

In order to avoid confusion when people click on

[2017-03-06 23:33] Daniel-Mietchen commented on #10
Done:
Now
https://github.com/sparcopen/open-research-doathon/labels/next-time
produces an empty list again, while
https://github.com/sparcopen/open-research-doathon/labels/postponed
works fine as before.

[2017-03-06 23:39] Daniel-Mietchen commented on #41
Hi @tompollard ,
the test user in this case was me, and the exercise here was just to see whether notebooks would run through, documenting the first problem if not.
In a second run, we will go over the corpus again, document all issues that pop up on the way and &mdash; to the extent possible &mdash; the steps needed to get the notebooks to run.
You are most welcome to join the effort over in issu

[2017-03-06 23:52] tompollard commented on #25
@Daniel-Mietchen let me know if/how I can assist with this. I'm based in Boston, so could probably make it down to JupyterCon if needed.

[2017-03-07 12:18] Daniel-Mietchen commented on #54
Here's the follow-up questionnaire for brainhack Cambridge:
https://docs.google.com/forms/d/e/1FAIpQLSdJFVxmjQHFnosooEHjDG4_Wp3UNsDXOfzPpoN2I4aqeKbGsQ/viewform?c=0&w=1 .

[2017-03-07 12:51] Daniel-Mietchen commented on #35
Just noticed that the video of Edafe's pitch has not been listed here yet, so here's a quick fix: https://twitter.com/OKFN/status/838011416598700033 .

[2017-03-07 14:28] mrw34 commented on #25
Repository created: https://gitlab.com/mwoodbri/jupyter-ci/tree/master

Verification is performed using ```nbconvert --execute```.

[2017-03-07 19:58] Daniel-Mietchen commented on #25
@mrw34 Thanks - that looks promising. Have never pushed anything to GitLab, but will try as soon as possible.

How do you deal with "could not find kernel for Python 2" type errors?

[2017-03-07 20:46] mrw34 commented on #25
@Daniel-Mietchen It assumes Python 3. The author would need to specify Python 2 in the .yaml file if necessary.

A third-party service would need to deduce the correct version from the .Ipynb file, which I think is possible, at least for v4 format notebooks.

[2017-03-07 22:33] rossmounce commented on #26
@npscience your comments about plotly befuddle me!

In my experience plot.ly was great to go from data to interactive, configurable visualisations with rapidity. Especially for data layouts I wasn't familiar with e.g. choropleth maps. Ultimately I didn't find it quite had capability to do all the complicated fiddling necessary for "publication quality" figures - I had to dive back into R and do it

[2017-03-07 23:08] Daniel-Mietchen commented on #51
Reopening this, as we are still working on it.

[2017-03-07 23:10] Daniel-Mietchen commented on #51
A side project could be to identify the main subject(s) for journals &mdash; currently, ca. 40k instances of scientific journal do not have any main subject set in Wikidata
[Query](https://query.wikidata.org/#SELECT%20%3Fitem%20%3FitemLabel%20WHERE%20%7B%0A%20%20%3Fitem%20wdt%3AP31%20wd%3AQ5633421.%0A%20%20MINUS%20%7B%3Fitem%20wdt%3AP921%20%3Fmainsubject.%7D%0A%20%20SERVICE%20wikibase%3Alabel%20%7

[2017-03-07 23:20] Daniel-Mietchen commented on #35
Wikidata now has https://www.wikidata.org/wiki/Wikidata:WikiProject_Welcome .

[2017-03-08 10:22] npscience commented on #26
@rossmounce noted, the more opinions the better, so thanks for chiming in. I think there's a huge gap in our literacy here; but I'm on the upward learning curve.

[2017-03-08 10:31] rossmounce commented on #26
@npscience having said all that I haven't tried Tableau so maybe Tableau or other such services are even better than plot.ly, but from a standpoint of a user with experience of spreadsheet software, R and plot.ly (admittedly limited experience of the wide breadth of available options!) I can definitely see plot.ly & web services like it have a niche / use-case. If R is one's base reference (as is

[2017-03-08 14:33] Daniel-Mietchen commented on #25
Just found out about a project that aims specifically at promoting the use of Jupyter notebooks for reproducible science:
https://github.com/Reproducible-Science-Curriculum .

[2017-03-08 16:26] Daniel-Mietchen commented on #25
While our PubMed search found a number of false positives (i.e. papers with no associated notebook), there are also some false negatives (i.e. papers with an associated notebook that do not show up in the search).

I just found this example: http://nbviewer.jupyter.org/gist/pschloss/9815766/notebook.ipynb , which is associated with https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4139711/ but not ment

[2017-03-08 16:31] mrw34 commented on #25
Hmm. Looks like an issue with PubMed version. Source does include reference to notebook: http://www.nature.com/nature/journal/v509/n7500/full/nature13178.html

[2017-03-09 08:05] jangondol commented on #25
@mrw34 [says](https://markwoodbridge.com/2017/03/05/jupyter-reproducible-science.html): "The Dockerfile refers to and downloads a couple of tarballs from third-party sources. This is perfectly acceptable, especially as some dependencies may ultimately not be redistributable, and it reduces the size of the source repository, but does assume that these links remain valid in the long term."

Before t

[2017-03-09 11:53] schmelling commented on #25
I did not read through all of it, but from Mark's blogpost I assume that the issue it not yet closed.

"There’s no means for notebooks to directly express the dependencies they require."

Sebastian Raschka @rasbt wrote a Jupyter magic extension to document dependencies etc. https://github.com/rasbt/watermark
I use this when I publish my notebooks, see https://github.com/schmelling/reciprocal_BLAST

[2017-03-09 15:58] ketch commented on #25
If you'd like to point to an example of a repo that is doing continuous integration testing of notebooks, here is one (shameless self-promotion):

https://github.com/clawpack/riemann_book

It's not for a paper; we're writing a book in Jupyter notebooks.  We have a reasonably complex chain of dependencies so setting up continuous integration is non-trivial.  We're not currently testing anything for

[2017-03-09 16:05] mrw34 commented on #25
@ketch Nice! The scikit-bio cookbook takes a similar approach: https://github.com/biocore/scikit-bio-cookbook

[2017-03-09 16:45] rasbt commented on #25
@ketch using something similar as well for my repos (e.g., https://github.com/rasbt/deep-learning-book/blob/master/code/tests/test_notebooks.py) and where I have documentation stored Jupyter Notebooks that gets converted to a Markdown/HTML for the websites.

I have not experimented with "real" unit tests, yet though. So far, it is just checking whether a cell throws an error or not (which will cau

[2017-03-09 17:10] ketch commented on #25
@rasbt Sounds like we are at the same stage in this.  There are a couple of packages designed to help test notebooks:

https://github.com/computationalmodelling/nbval
https://github.com/bollwyvl/nosebook
https://gist.github.com/minrk/2620735

I haven't tried any of them yet.

[2017-03-09 17:37] rasbt commented on #25
@ketch Thanks for the reference! The script looks need; have to give it a try one day (was almost tempted to write it from scratch ;))

[2017-03-13 16:59] Daniel-Mietchen commented on #25
@rossmounce @npscience @mrw34 @tompollard @jangondol @rasbt @ketch @schmelling .
The deadline for submissions to Jupyter Con is about 1 day away, so I will work on it tonight.

Pointers in https://github.com/Daniel-Mietchen/events/blob/master/JupyterCon-2017.md and the associated Gdoc. You're all most welcome to join in.

[2017-03-14 12:35] Daniel-Mietchen commented on #34
Another possible source of signal here would be the activity streams from places like ImpactStory.
Example: https://impactstory.org/u/0000-0001-7542-0286/timeline

[2017-03-14 16:01] mrw34 commented on #25
Another potential forum for presentation: https://www.software.ac.uk/c4rr/cfp

[2017-03-14 21:46] Daniel-Mietchen commented on #25
Couldn't get to it earlier, but am in the Gdoc right now to draft a submission (6h left). Happy to look into other contexts for presentation as well.

[2017-03-14 22:40] Daniel-Mietchen commented on #25
The PMC / Europe PMC numbers are up to 111 and 113 hits, respectively.

[2017-03-15 00:13] Daniel-Mietchen commented on #25
I'm done with a first pass for all form fields. Will read Mark's post again and see whether that gives reason to change anything.

[2017-03-15 02:36] Daniel-Mietchen commented on #25
There are currently 73 hits for the Google search
[site:arxiv.org+ipynb](https://www.google.com/search?q=site%3Aarxiv.org+ipynb) .

[2017-03-15 04:21] Daniel-Mietchen commented on #25
I have submitted: https://github.com/Daniel-Mietchen/events/blob/master/JupyterCon-2017.md .

[2017-03-16 13:17] Daniel-Mietchen commented on #34
Here is a remake of Wikipulse: http://waldyrious.net/wikispeed/ .

[2017-03-19 15:41] skasberger commented on #51
What do you exactly mean with the term "main subject"?

[2017-03-19 18:32] Daniel-Mietchen commented on #51
As per
https://www.wikidata.org/wiki/Property_talk:P921 ,
P921 is for the "primary topic of a work", which should have a Wikidata
entry.
It doesn't have to be just one - for instance, the article [Causal or not: applying the Bradford Hill aspects of evidence to the association between Zika virus and microcephaly (Q24261170)](https://www.wikidata.org/wiki/Q24261170) currently [has](https://www.wiki

[2017-03-19 18:43] Daniel-Mietchen commented on #34
Some interesting things popping up under ["sounds of research"](https://www.google.com/search?num=100&q=%22sounds+of+research%22) and related searches.

[2017-03-21 16:40] Daniel-Mietchen commented on #25
An additional article for which Jupyter notebooks are available:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4428227/ .
It states

At [that DOI](http://dx.doi.org/10.5061/dryad.ht0hs), there is a ZIP file described as

[2017-03-22 23:29] Daniel-Mietchen commented on #25
The original PMC query

- [ipynb OR jupyter ](https://www.ncbi.nlm.nih.gov/pmc/?term=ipynb+OR+jupyter)

now gives 115 results, which is over 10% growth within less than a month, so our project here seems timely.

One of the additional results is
[Detecting High-Order Epistasis in Nonlinear Genotype-Phenotype Maps](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5340324/), with an accompanying Jupyter

[2017-03-22 23:41] Daniel-Mietchen commented on #25
A PMC search for

- [docker.com OR "docker image"](https://www.ncbi.nlm.nih.gov/pmc/?term=docker.com+OR+%22docker+image%22)

gives 45 results currently.

[2017-03-22 23:51] Daniel-Mietchen commented on #25
I also tried
http://mybinder.org/repo/margudo/lssgalpy
from
https://arxiv.org/abs/1702.04268 ,
which gave "failed!", i.e. the container couldn't be created.

[2017-03-23 00:06] Daniel-Mietchen commented on #25
Just came across https://twitter.com/o_guest/status/832532349988589568 , which links to https://openlab-flowers.inria.fr/uploads/default/original/1X/65addc14bb2a6a7feaf7690865fa3708d5b0990f.pdf , which contains a set of brief articles around computational reproducibility.

[2017-03-23 08:21] khinsen commented on #25
A very nice initiative to put rep*bility to a real test!

Unfortunately I am not surprised by the outcome. For two similar recent experiments (though not about notebooks) with similar results, see https://github.com/ReScience/ReScience/issues/43 and https://f1000research.com/articles/6-124/v1#referee-response-20292.

Note that, contrary to frequent claims, notebooks are not a rep*bility tool at al

[2017-03-23 09:16] ThomasA commented on #25
This was exactly my problem in https://twitter.com/ThomasArildsen/status/844688697920491520

[2017-03-23 09:46] khinsen commented on #25
It just occured to me that some of the verification code in the [ActivePapers Python edition](https://github.com/activepapers/activepapers-python) could be adapted to do this kind of scan during the execution of a notebook (or of a plain Python script). In terms of usage, this would require something like

[code]

at the beginning of the script/notebook. Moreover, such a package could provide a li

[2017-03-23 13:03] Daniel-Mietchen commented on #25
Thanks, @khinsen and @ThomasA for chiming in here. The pointers in your posts sent me off a long reading chain this morning, which provided me with additional perspectives on these issues &mdash; thanks for that.

Your ActivePapers project looks interesting, and using something like this for some basic verification would probably be a good step forward &mdash; have you seen @mrw34's [CI for Jupyte

[2017-03-23 13:09] ThomasA commented on #25
@khinsen a Ph.D. student of mine, @Chroxvi, has also implemented some functionality in our Magni package that sounds a bit similar: https://github.com/SIP-AAU/Magni/tree/master/magni/reproducibility - http://magni.readthedocs.io/en/latest/magni.reproducibility.html

[2017-03-23 14:12] khinsen commented on #25
@Daniel-Mietchen Yes, I have seen this and other CI-based approaches. They are great when applicable but frustrating when they aren't - as all technology-based solutions. For example, @mrw34's approch requires all code dependencies to be pip-installable, all data dependencies to be downloadable or part of the repository, and the whole analysis to run within whatever resource limitations GitLab's C

[2017-03-23 15:57] Daniel-Mietchen commented on #25
@khinsen One of the motivations behind our verification exercise here was to come up with recommendations for how to share software, and Jupyter notebooks in particular.

Having "all data dependencies to be downloadable or part of the repository" seems like a good recommendation to me, and being able to show that your a particular piece of software complies with that criterion is helpful. Yes, the

[2017-03-24 06:48] khinsen commented on #25
@Daniel-Mietchen First of all, I didn't mean my list of restrictions of @mrw34's approach as a criticism. Every technology has limitations. If there's anything to criticize, it's that the restrictions are not listed explicitly, leaving the task of figuring them out to potential users.

Having all dependencies downloadable or packaged with the notebook is indeed a decent compromise given today's st

[2017-03-27 07:46] gbilder commented on #25
Hi. Daniel pointed me at this thread.

When you say that "DOIs, don't permit direct downloading today" I'm not sure if the word "permit" here is in reference to:

- access control restrictions
- the convention that Crossref/DataCite DOIs tend to resolve to a landing page instead of 'the thing itself."

 Or both.

As far as I can tell, parties appear unanimous on the fact that, barring privacy/conf

[2017-03-27 12:12] khinsen commented on #25
@gbilder My reference was to the landing-page issue. It's good to hear that people are discussion solutions, but as far as I know it remains impractical today to download a dataset automatically given a DOI.

[2017-03-27 12:23] mrw34 commented on #25
@khinsen @gbilder I guess best-practice here involves assigning DOIs to datasets (and not just their parent publication, if any), and resolving any ambiguity over if/how the data itself can be automatically retrieved given the relevant DOI. Lots more on the latter here: https://jcheminf.springeropen.com/articles/10.1186/s13321-015-0081-7

[2017-03-28 07:31] JosephMcArthur commented on #34
I'm now working on this with a friend at NWSPK. We've just done listentotwitter.joshbalfour.co.uk (not launched) and have got Share going for this.

[2017-03-28 14:43] Daniel-Mietchen commented on #47
A related Wikimania submission: https://wikimania2017.wikimedia.org/wiki/Submissions/How_to_make_successful_hackathon

[2017-03-28 20:35] Daniel-Mietchen commented on #34
That's great!

Based on your Twitter sonifyer, I also found https://github.com/musalbas/listentotwitter , which can give things like
http://listentotwitter.com/science
http://listentotwitter.com/research
http://listentotwitter.com/sciences
http://listentotwitter.com/scientist
http://listentotwitter.com/scientists
http://listentotwitter.com/researcher
http://listentotwitter.com/researchers

These c

[2017-03-29 16:29] Daniel-Mietchen commented on #25
I was just [pinged](https://twitter.com/npscience/status/847122624870264832) about another validation tool:
- https://github.com/computationalmodelling/nbval

[2017-03-30 03:04] Daniel-Mietchen commented on #25
Here's an interesting blog post on what can go wrong in terms of reproducibility (with a focus on R): http://blog.appsilondatascience.com/rstats/2017/03/28/reproducible-research-when-your-results-cant-be-reproduced.html .

[2017-03-30 20:25] C21Beancounter opened #56 "Correspondence with Open Corporates (March 2017)"
Below is a summary of email correspondence between Open Corporates and myself during March 2017.  It may be of use to those with interests in Wikidata and Business/Corporate repositories.

**(1) Wikidata**

**Background**: Open Corporate’s Impact page states that the "excellent folk at Wikidata have been experimenting with automatically matching companies in OpenCorporates to the companies in thei

[2017-03-31 13:27] npscience commented on #32
Perhaps this list of Q&As might help to start us off: https://openscience.uni-bielefeld.de/ @Daniel-Mietchen

[2017-03-31 17:21] npscience commented on #32
and this: http://ec.europa.eu/research/openscience/index.cfm?pg=home&section=monitor

[2017-04-01 01:02] Daniel-Mietchen commented on #32
@npscience yes, the Open Science Q & A site is related in spirit, but "bug reports to science" is broader, as the lack of openness is not the only problem around. I expect both sites to cross-fertilize where they overlap, though.
For some first ideas of what I think would fit better to the bug reports approach, see the issues I have posted there so far: https://github.com/br2s/bug-reports-to-scien

[2017-04-18 19:27] matthewgthomas commented on #36
@npscience Hi, I've been doing a bit more work on this package: https://github.com/matthewgthomas/dplacer

[2017-05-01 20:49] DCGenomics commented on #25
A demo for the original issue:  https://www.ncbi.nlm.nih.gov/pubmed/27583132
If you click on the LinkOut link, would adding the Jupyter and Docker links here be helpful?

[2017-05-04 11:26] JosephMcArthur commented on #47
By the end of the Mozilla Sprint:

- [x] clone this repo
- [ ] have a landing page to advertise these styles of events
- [ ] Finish preparation.md
- [ ] finish on the day instructions
- [ ] finish giant_shoulder.md
- [ ] finish what is a do-a-thon.md
- [x] set up domains to be https
- [ ] turn meta-tags into checklist
- [ ] reveiw contributing / issue_template / readme etc for their use in cloned

[2017-05-04 11:37] JosephMcArthur commented on #16
I think we could follow up on project's status's by just responding to tickets

[2017-05-07 14:02] JosephMcArthur commented on #47
@Daniel-Mietchen I've set up a clone here: https://github.com/sparcopen/do-a-doathon & the site here: http://doathon.org/. At time of writing, that domain worked, however I've done some work to try and route the domain via a free cloudflare account to enable custom domains & https (the only way to do that).

[2017-05-08 04:54] npscience commented on #47
Can we include this as a strategy for getting things done / engaging contributors on the next opencon collaborate call?

[2017-05-08 06:14] JosephMcArthur commented on #47
If you're keen, I'm sure we can figure something out!

Note, https://doathon.org/ now works. \o/ \o/ \o/ \o/ \o/. Gotta say, it was pretty trival to figure out this workaround, I'm slightly worried things don't look as good as they seem.

[2017-05-08 11:15] npscience commented on #47
Hoorah for getting it working \o/

[2017-05-08 11:25] mrw34 commented on #25
More on reproducibility, including a few Jupyter mentions: https://www.practicereproducibleresearch.org

[2017-05-08 12:13] Daniel-Mietchen commented on #25
@DCGenomics I think making the Jupyter, Docker, mybinder etc. versions of the code more discoverable is useful in principle, but conventional LinkOut (which is not shown by default) may not be the best mechanism to do this.

What I could imagine is a mechanism similar to the way images are currently being presented in PubMed, i.e. something that is shown by default if the paper comes with code sha

[2017-05-08 13:33] Daniel-Mietchen commented on #25
I [asked](https://groups.google.com/forum/#!topic/jats4r/SBmnMIQf4xA) for input from the [JATS4R](http://jats4r.org/) community on how such things could/ ought to be tagged in JATS.

[2017-05-10 00:02] Daniel-Mietchen commented on #25
There is a [JupyterCon talk about citing Jupyter notebooks](https://conferences.oreilly.com/jupyter/jup-ny/public/schedule/detail/59835). I have contacted the speakers.

[2017-05-11 11:22] JosephMcArthur commented on #47
Have moved above to-do's to the new repo here: https://github.com/sparcopen/do-a-doathon/issues.

[2017-05-22 23:40] mpacer commented on #25
I'm not going to read all of this cause it's long. But, this is a cool idea and neat dataset. @eseiver mentioned you wanted to know how to read in notebooks, for which you can use [`nbformat`](https://github.com/jupyter/nbformat) specifically the `nbformat.read()` which you should probably use inside a context manager.

[2017-05-25 17:54] Daniel-Mietchen commented on #25
At the [WikiCite 2017](https://meta.wikimedia.org/wiki/WikiCite_2017) hackathon today, we made some further progress in terms of making this analysis itself more reproducible &mdash; a Jupyter notebook that runs the Jupyter notebooks listed in our Google spreadsheet and spits out the first error message: http://paws-public.wmflabs.org/paws-public/995/WikiCite%20notebook%20validator.ipynb .

@mpace

[2017-05-25 17:57] Daniel-Mietchen commented on #25
At the [WikiCite 2017](https://meta.wikimedia.org/wiki/WikiCite_2017) hackathon today, we made some further progress in terms of making this analysis itself more reproducible &mdash; a Jupyter notebook that runs the Jupyter notebooks listed in our Google spreadsheet and spits out the first error message: http://paws-public.wmflabs.org/paws-public/995/WikiCite%20notebook%20validator.ipynb . @mpacer

[2017-05-26 10:19] Daniel-Mietchen commented on #34
There is a [sonification do-a-thon](http://icad.org/icad2017/program-2/icad-do-a-thon.html) at the [International Conference of Auditory Display](http://icad.org/icad2017) on June 21, where we will provide options for remote participation.

[2017-07-05 23:33] #47 closed, assigned to JosephMcArthur

[2017-07-05 23:33] JosephMcArthur commented on #47
I'm actually going to close this now... just for tidyness.

[2017-07-31 00:01] yuvipanda commented on #25
Hello! I'm part of the team that's working on beta.mybinder.org and related stuff, and am *extremely* interested in the idea of a 'badge that represents that your code is reproducible, and has been reproduced by CI'. Funnily, I also built the PAWS stuff, which is awesome to find in completely unrelated contexts :D

The part of the stack I've been attacking right now is the 'how do we reproduce the

[2017-08-04 14:53] danielskatz commented on #25
Hi!

@Daniel-Mietchen pointed me at this thread/project yesterday, and it seems quite interesting.

I wonder if it makes sense to think about short term and long term reproducibility for notebooks?

By short term, I mean that the notebook might depend on a python package that has to be installed, which could be done by pip before running the notebook, and this step could be automated by a notebook

[2017-08-08 07:17] ThomasA commented on #25
@khinsen - sorry I lost track of this thread back in March... Yes, I think @Chroxvi's `reproducibility` can be carved out of the Magni package and I actually hope to do that sometime this fall. I hope to do that along with @ppeder08's `validation` (https://github.com/SIP-AAU/Magni/tree/master/magni/utils/validation) which can be used for in-/output-validation of for example somewhat more abstract

[2017-08-08 12:51] TanuMalik commented on #25
Hi Dan,

Our code is available from https://bitbucket.org/geotrust/sciunit-cli

Current documentation is available from
http://geotrusthub.org/geotrust_html/GeoTrust.html

Yes ours is restricted to Linux OS for now. We have a bare bones version
for Mac OS X that is not in production use.

We are currently working on enabling reproducibility for workflows and
Jupyter notebooks through application v

[2017-08-09 05:36] Daniel-Mietchen commented on #25
Thanks for the additional comments. I have proposed to work on this further during the Wikimania hackathon: https://phabricator.wikimedia.org/T172848 .

[2017-08-20 07:24] Daniel-Mietchen commented on #25
I got sick during the hackathon and haven't fully recoverd, but JupyterCon is just days away, so I have started to distill the discussion here into an outline for the talk next Friday:
https://github.com/Daniel-Mietchen/events/blob/master/JupyterCon-2017.md#outline-of-the-talk . Will work on it from Tuesday onwards, and your contributions to this are as always welcome.

[2017-08-25 15:29] RomanGurinovich commented on #25
After chatting with @Daniel-Mietchen about this idea, we've implemented web app to autorun notebooks mentioned in the paper.

[exe.sci.ai](http://exe.sci.ai/)

Just add list of papers' URLs, like
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5322252/
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4965465/
and run the executability validator.

**It is a pre-pre-pre-alpha version done for fun and in th

[2017-08-25 15:41] RomanGurinovich commented on #25
@yuvipanda, nice job. High five! Dan mentioned, you are on the conference now, right? If you are interested, we can combine effort

[2017-08-25 22:27] choldgraf commented on #25
We're both at the conference now and will be at the hack sessions tomorrow!

[2017-08-27 22:00] Daniel-Mietchen commented on #25
I was traveling during the hackathon - had heard about it too late. In any case, I hope we can combine efforts with the Binder team. For those interested, the talk sits at
https://github.com/Daniel-Mietchen/events/blob/master/JupyterCon-2017.md#outline-of-the-talk , and the video shall hopefully become available in a few weeks.

[2017-08-29 12:53] Daniel-Mietchen commented on #25
Seen at JupyterCon:
https://github.com/jupyter/repo2docker , a tool that can dockerize a git repo and provide a Jupyter notebook to explore the container.

[2017-10-20 13:59] Daniel-Mietchen commented on #16
One follow-up not mentioned here yet is the
https://github.com/sparcopen/do-a-doathon
repo that came out of #47, which is now serving as the basis for a new event currently being set up at https://github.com/UVA-DSI/2017-doathon .

[2017-10-20 14:06] JosephMcArthur commented on #16
Hey Daniel,

That's ace!

This site: https://github.com/sparcopen/doathon-dev which is going to be
formally launched soon (not quite yet done), may be very helpful! We've
done a lot of developing on the concept there, and the site is planned as a
potential template & approach for others moving forwards (post-OpenCon
2017).

J

On Fri, 20 Oct 2017 at 15:00 Daniel Mietchen <notifications@github.com>

[2017-10-20 14:24] Daniel-Mietchen commented on #16
OK, looks great except for the licensing, on which I just opened a ticket. Our event will be a few days post-OpenCon, so lots of potential for interaction. I'll also try to attend your doathon remotely.

[2019-11-17 16:45] cgpu commented on #25
Apologies for reviving a closed issue. I am also interested in the reproducibility badge (which is not necessarily the same as the `binder` badge). I came across @mwoodbri 's [jupyter-ci](https://gitlab.com/mwoodbri/jupyter-ci). Any plans for this to be used or people that currently use this?

(Also cc'ing @yuvipanda as he has been involved in `repo2docker`.)

[2019-11-18 08:47] mwoodbri commented on #25
@cgpu Hi! At the time `jupyter-ci` was an answer to "what's the simplest possible way to generate a badge and notify of validation failure?". Simply porting the project to GitHub and GitHub Actions (updating to latest Jupyter best-practice in the process, if necessary) would be a great start. But a more general solution involving `repo2docker` and/or Binder would be even better!

[2019-11-18 21:44] cgpu commented on #25
Hi @mwoodbri , thank you for the prompt response and the background information! I am really fond of the idea of having a binary `does it reproduce` badge of honour, `jupyter-ci` sounds exactly like that.  I am trying to reproduce `.ipynb` accompanied publications as part of a workshop exercise and I am really struggling. It would be nice to know before hands which ones to invest time on, hence th

[2019-11-19 16:11] mwoodbri commented on #25
@cgpu Here's a version converted to use GitHub Actions: https://github.com/mwoodbri/jupyter-ci

[2019-11-20 04:43] cgpu commented on #25
@mwoodbri thank you! Time for me to test now :)

@Daniel-Mietchen thank you for providing the reproducibility cafe space for further discussions 2 years after the start of the initiative. Feel free to close this.

[2019-11-29 13:45] monperrus commented on #34
FYI, we're collecting sonification examples at https://github.com/castor-software/rethread/issues/5

[2022-09-15 20:04] Daniel-Mietchen commented on #25
Hello everyone. It has been a while since the last post in this thread, but I am happy to report that there is now a preprint that reports on a reproducibility analysis of the Jupyter notebooks associated with publications available via PubMed Central: [Computational reproducibility of Jupyter notebooks from biomedical publications](https://doi.org/10.48550/arXiv.2209.04308) &mdash; joint work wit

[2022-09-15 21:55] fperez commented on #25
Congrats @Daniel-Mietchen, excellent! I look forward to reading the paper, and will be sure to include it in my reading list for next year's [reproducible research course](https://github.com/UCB-stat-159-s22) I teach at Berkeley!

cc @facusapienza21.

[2022-09-15 23:20] leipzig commented on #25
Lots of twitter interest in this preprint. Might be good to dig a bit deeper into all those unknown dependency resolution issues - or perhaps just feature a couple of examples as a panel. There were some comments regarding Docker.

[2022-09-16 19:22] khinsen commented on #25
Thanks @Daniel-Mietchen for the update! The preprint is on my e-book reader.

[2022-09-16 19:43] yuvipanda commented on #25
Holy shit this is AWESOME!